@tailwind base;
@tailwind components;
@tailwind utilities;

.cool-link {
    display: inline-block;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(164, 161, 161);
    transition: width .4s;
}

.cool-link:hover::after {
    width: 100%;
}
.custom-shadow{
    box-shadow: rgba(164, 163, 163, 0.24) 0px 3px 8px;
}
